
* {


	margin:0; padding:0;
	} /*--- Stylesheet Reset ---*/

.whitesmoke {
background-color:#F5F5F5;
}
.papayawhip {
background-color: #FFEFD5;
}
body {
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	width: 1100px;
	margin:0 auto;
	background-color: #151821  ;
	background-position: top;
/* 	background-image:url('http://www.crystalbit.com/images/v.jpg'); 
*.
	text-align: justify;
/* 
	background-repeat:repeat-x;
background-attachment:fixed;
background-position:center; 
*/	color:#555;
}
#subnav {
	display: block;
	position: relative;
	top:0;
	left:-9999;
	background-color:gold;
	opacity:0.8;
	
	border-bottom:2px solid papayawhip;
	border-top:2px solid papayawhip;
}
#subnav a { opacity:0.8; color:#888; text-decoration:none; }
#subnav:focus { left: 0; }
header { background-color: #6781BA; color: #C5E0F9;   }

header[role="head"], hgroup {
background-color:#D8BFD8;

}

/************* MAIN CONTENT ***************/
h1.logo, h2.logo {
	background-color:#D8BFD8;
	float:left;

	font-size:30px;
}
h1.logo a, h2.logo a {
	display:block;
	border-bottom:0;
	text-align:left;
	
}
h1.logo a:hover, h2.logo a:hover {

}
.tagline {
	background-color:#D8BFD8;
	float:right;
	text-align:right;
	
	font-size:18px;
	
	font-weight:normal;
	letter-spacing:0.1em;
}
nav {
	border-bottom:2px solid green;
	border-top:2px solid green;
	background:#FFF;
	opacity:0.8;
	float:left;
	width:100&#37;



}


ul {
list-style:none;
}


nav  ul {
	
	list-style:none;
	
}
.nav-footer { margin:0; }
.nav-footer ul { margin:0 0 0 0; }
nav li {
	opacity:0.8;
	height:50px;
	display:block;
	float:left;
	
}

nav a {
	font-size:14px;
	font-weight: bold;
	padding:20px;
	line-height:50px;
	color:#000;
	text-decoration:none;
}
nav li:hover {
//width:100&#37;	
//background-color:#FFC59F;
//color:magenta;
	
}
#content {
	clear:both;
	float:left;
	width:100&#37;
	
	padding-top:0;
	border-top:0;
	background-color: #FAFFE5;/* #D8BFD8; */
	
}
.main div nav {
	border:0;
	float:right;
	width:100&#37;
	text-align:right;


	font-size:12px;
	
	border-top:1px solid #ccc;
}
.main footer a:hover {
	
	text-decoration:none;
	text-shadow:none;
}
.main {

	float:left;
	width:830px;
	
}
.main > h1 {
	
}
article {
	
}
article p {

	padding:20px;
}
article header { margin:0; }

article footer div {

	
}
article footer div p {
	float:right;
	width:50&#37;
	text-align:right;
}
article footer a {  }
article footer a:hover {
	color:lime;
}

article footer { background-color:#FBD3B5;
		border-top:1px solid #FFB57F;
		padding:20px;
	
}




#headwrap {

	background-color:#D8BFD8;
}


/****************** START SIDEBAR ******************/
#content aside {
	float:right;
	width:270px;
	margin-left:0px;
	text-indent:0px;
	background-color:transparent;
}
#content aside section, #content aside div, #content aside nav {
	margin-bottom:15px;
	margin-top:0px;
	
	clear:both;
}
#content aside ul {
	width:100&#37;
	list-style:none;
	line-height:25px;
	
	margin:0;
	padding:0;
	font-weight:normal;	
}
#content aside nav { border:0;  background-color:#EED5D2; }
#content aside nav li {
	width:230px;
	padding:0 20px;
	margin:0;
	float:none;
	text-indent:0;
	
}
#content aside nav a { 
padding:0;
cursor:pointer;
	margin:0;
	text-decoration:none; color:#6781BA;}
#content aside h3 {
	
	min-height:26px;
	 background-color:#EE6363;
	color:#8FD8D8;

	background-color: #FA965D; 
	color: #6781BA; 
	font-size:24px;
	padding:10px 20px;
}
#content aside section p, #content aside nav p {
	text-indent:0;
	
}
/************** END SIDEBAR *****************/





footer {
	clear:both;

}
footer p {
	padding-left:0;
	padding-right:0;
}
footer[role="contentinfo"] {
	border-top:2px solid crimson;
	min-height:200px;
	background:#111;
	opacity:0.8;
	color:gold;
	font-size:16px;font: 28pt fantasy, cursive, Serif;
	font: 16pt fantasy, cursive, Serif;
}
footer[role="contentinfo"] p { /* Site footer */
	padding:20px;
	font-size:16px;
	clear:both;
}
h1, h2, h3, h4, h5, h6 {

}
h1 { font-size:30px; }
article h1, header hgroup h1 {
	border:3px solid transparent;
	
	padding:10px;
	font-size:24px;	

}
h1 a {
	color: #66CD00;
	
}
h1 a:hover {

	color:gold;
}
h2, h3, h4, h5, h6 {  }
h2 { font-size:18px; }
.entry-content h2 { margin-top:12px; }
h3 { font-size:16px; }
h4 {
	font-size:14px;
	text-transform:uppercase;
}
h5, h6 {
	font-size:14px;
	font-style:italic;
}
a { 
	font-size: 14px;
	color:crimson; background-color:transparent;text-decoration:none;
	font-weight:900;
}
a:visited { 
	color:magenta; background-color:transparent;
}
a:hover { 
	color:magenta; background-color:transparent;
	cursor:pointer;
}
a:active { 
	color:blue;
	
}
p {

	padding:8px 0;
	line-height: 20px;
}
p a, article ul a, article ol a {
	font-weight: bold;
	padding:2px 3px;
	text-decoration:none;
}
p a:hover, article ul a:hover, article ol a:hover {
	cursor:pointer;
	
}
.entry-content > p:first-of-type { font-size:16px; }
article footer p, article footer span {
	padding:0;
	
}
article footer a {
	color:magenta;
	text-decoration:none;
	
	font-weight: bold;
}
article footer a:hover { text-decoration:none;



}
article footer p a:hover { text-decoration:none;
	

}

#nv {
background-color:#293E6F;
}

ul#nv li {
	min-height:30px;
	cursor:pointer;
	text-align: center;
	font-size:24px;
	line-height: 30px;
	display: inline;
	padding: 10px 0px;
	z-index:999; border-top:0px solid yellow; margin:0; z-index:-1; 
	}
	
	#nv > li a:link { 	min-height:25px;line-height: 30px;min-height:30px;cursor:pointer;border-top:0px solid magenta;
	background-color:transparent; color:#FBD3B5; margin:0px; padding: 10px 30px; z-index:-1; }
	#nv > li a:visited { min-height:25px; line-height: 30px;cursor:pointer;color:#FBD3B5; border-top:0px solid magenta;
	background-color:transparent; margin:0px; padding: 10px 30px;z-index:-1; }
	#nv > li a:hover { min-height:25px;line-height: 30px;cursor:pointer;color:#FA9A50; border-top:0px solid #58b2fa;
	background-color:transparent; opacity:1; margin:0px; padding: 10px 30px; margin:0; z-index:-1; }
	#nv > li a:active { min-height:25px;line-height: 30px;cursor:pointer;border-top:0px solid cyan;
	background-color:transparent; color:#FBD3B5; margin:0px; padding: 10px 30px; margin:0; z-index:-1; }
	





.accordionButton:link
{

}


.accordionButton:visited
{

}



.accordionButton:hover, .accordianButton h3:hover
{
cursor:pointer;
background-color:#FAFAFA;

}






.accordionButton:active
{

}

.btn{
    cursor:pointer;
    background-color: #4D98C0;
    border-radius: 3px 3px 3px 3px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;

}
.btn:hover {
    cursor:pointer;
    background-color: yellow;
    color: cyan;
}






















/* ui.css

   This code is free. */


/* Big Buttons */

a.bigbtn {
	cursor:pointer;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	background: #2da1ec;
	padding: 15px;
}

a.bigbtn:hover {
	cursor:pointer;
	background: #2eacff;
}

a.bigbtn:active {
	cursor:pointer;
	top: 1px;
}

a.bigbtn2 {
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	background: #2da1ec;
	border-radius: 5px;
	padding: 15px;
}

a.bigbtn2:hover {
	background: #2eacff;
}

a.bigbtn2:active {
	top: 1px;
}

a.bigbtn3 {
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	padding: 15px;
	background-image: -webkit-linear-gradient(#2da1ec, #0191d9);
	background-image: -moz-linear-gradient(#2da1ec, #0191d9);
	background-image: -ms-linear-gradient(#2da1ec, #0191d9);
	background-image: linear-gradient(#2da1ec, #0191d9);
	border: 1px solid #0191d9;
}

a.bigbtn3:hover {
	background-image: -webkit-linear-gradient(#2eacff, #0191d9);
	background-image: -moz-linear-gradient(#2eacff, #0191d9);
	background-image: -ms-linear-gradient(#2eacff, #0191d9);
	background-image: linear-gradient(#2eacff, #0191d9);
}

a.bigbtn3:active {
	top: 1px;
}

a.bigbtn4 {
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	padding: 15px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	background-image: -webkit-linear-gradient(#2da1ec, #0191d9);
	background-image: -moz-linear-gradient(#2da1ec, #0191d9);
	background-image: -ms-linear-gradient(#2da1ec, #0191d9);
	background-image: linear-gradient(#2da1ec, #0191d9);
	border: 1px solid #0082c3;
}

a.bigbtn4:hover {
	background-image: -webkit-linear-gradient(#2eacff, #0191d9);
	background-image: -moz-linear-gradient(#2eacff, #0191d9);
	background-image: -ms-linear-gradient(#2eacff, #0191d9);
	background-image: linear-gradient(#2eacff, #0191d9);
}

a.bigbtn4:active {
	top: 1px;
}


/* Small Buttons */


a.smallbtn {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	background: #2da1ec;
	padding: 10px;
}

a.smallbtn:hover {
	background: #2eacff;
}

a.smallbtn:active {
	top: 1px;
}

a.smallbtn2 {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	background: #2da1ec;
	border-radius: 5px;
	padding: 10px;
}

a.smallbtn2:hover {
	background: #2eacff;
}

a.smallbtn2:active {
	top: 1px;
}

a.smallbtn3 {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	background-image: -webkit-linear-gradient(#2da1ec, #0191d9);
	background-image: -moz-linear-gradient(#2da1ec, #0191d9);
	background-image: -ms-linear-gradient(#2da1ec, #0191d9);
	background-image: linear-gradient(#2da1ec, #0191d9));
	border: 1px solid #0191d9;
}

a.smallbtn3:hover {
	background-image: -webkit-linear-gradient(#2eacff, #0191d9);
	background-image: -moz-linear-gradient(#2eacff, #0191d9);
	background-image: -ms-linear-gradient(#2eacff, #0191d9);
	background-image: linear-gradient(#2eacff, #0191d9);
}

a.smallbtn3:active {
	top: 1px;
}

a.smallbtn4 {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	background-image: -webkit-linear-gradient(#2da1ec, #0191d9);
	background-image: -moz-linear-gradient(#2da1ec, #0191d9);
	background-image: -ms-linear-gradient(#2da1ec, #0191d9);
	background-image: linear-gradient(#2da1ec, #0191d9));
	border: 1px solid #0082c3;
}

a.smallbtn4:hover {
	background-image: -webkit-linear-gradient(#2eacff, #0191d9);
	background-image: -moz-linear-gradient(#2eacff, #0191d9);
	background-image: -ms-linear-gradient(#2eacff, #0191d9);
	background-image: linear-gradient(#2eacff, #0191d9);
}

a.smallbtn4:active {
	top: 1px;
}



/* Tag Buttons */


a.tagbtn {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	background: #2da1ec;
	padding: 5px;
}

a.tagbtn:hover {
	background: #2eacff;
}

a.tagbtn:active {
	top: 1px;
}

a.tagbtn2 {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	background: #2da1ec;
	border-radius: 5px;
	padding: 5px;
}

a.tagbtn2:hover {
	background: #2eacff;
}

a.tagbtn2:active {
	top: 1px;
}

a.tagbtn3 {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
	background-image: -webkit-linear-gradient(#2da1ec, #0191d9);
	background-image: -moz-linear-gradient(#2da1ec, #0191d9);
	background-image: -ms-linear-gradient(#2da1ec, #0191d9);
	background-image: linear-gradient(#2da1ec, #0191d9));
	border: 1px solid #0191d9;
}

a.tagbtn3:hover {
	background-image: -webkit-linear-gradient(#2eacff, #0191d9);
	background-image: -moz-linear-gradient(#2eacff, #0191d9);
	background-image: -ms-linear-gradient(#2eacff, #0191d9);
	background-image: linear-gradient(#2eacff, #0191d9);
}

a.tagbtn3:active {
	top: 1px;
}

a.tagbtn4 {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	background-image: -webkit-linear-gradient(#2da1ec, #0191d9);
	background-image: -moz-linear-gradient(#2da1ec, #0191d9);
	background-image: -ms-linear-gradient(#2da1ec, #0191d9);
	background-image: linear-gradient(#2da1ec, #0191d9));
	border: 1px solid #0082c3;
}

a.tagbtn4:hover {
	background-image: -webkit-linear-gradient(#2eacff, #0191d9);
	background-image: -moz-linear-gradient(#2eacff, #0191d9);
	background-image: -ms-linear-gradient(#2eacff, #0191d9);
	background-image: linear-gradient(#2eacff, #0191d9);
}

a.tagbtn4:active {
	top: 1px;
}


/* Inputs */


/* Placeholder Styles */

::-webkit-input-placeholder {
   color: #ccc;
   font-weight: lighter;
}

::-moz-input-placeholder {
   color: #ccc;
   font-weight: lighter;
}

/* Default input styles */
select,
input[type=select],
input[type=name],
input[type=email],
input[type=password],
input[type=text],
textarea[type=text] {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 25px;
	width: 100%;
	color: #999;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
select:hover,
input[type=select]:hover,
input[type=name]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=text]:hover,
textarea[type=text]:hover {
	outline: none;
	border: 1px solid #bbb;
	box-shadow: none;
}

select {
width:400px;
}

input[type=name]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
textarea[type=text]:focus {
	outline: none;
	border: 1px solid #00bce9;
	box-shadow: 0 0 5px #2da1ec;
}

textarea[type=text] {
	height: 200px;
}

input.highlight {
	border: 1px solid #ffcc33;
	box-shadow: 0 0 5px #ffff00;
}

input.error {
	border: 1px solid #dd212b;
	box-shadow: 0 0 5px #ed1b24;
}






/* 
	And they lived happily ever after.
   
   	THE END
   
*/


#respond {

padding:20px;

}

fieldset {
border:0;
padding:20px;

}









#backgroundPopup,
#backgroundPopup2
{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#popupContact,
#popupContact2
{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:384px;
width:408px;
background:#FFFFFF;
border:2px solid #cecece;
z-index:2;
padding:12px;
font-size:13px;
}
#popupContact h1,
#popupContact2
h1{
text-align:left;
color:#6FA5FD;
font-size:22px;
font-weight:700;
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;
}
#popupContactClose,
#popupContactClose2,
{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}




	.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination a:hover,
.pagination .active a {
  background-color: #f5f5f5;
}
.pagination .active a {
  color: #999999;
  cursor: default;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination-centered {
  text-align: center;
}







#sol{
	

	z-index:999;background-image:url('../images/sol.jpg'); height:349px; width: 1100px; margin:auto 0px;
}

#hp {
float:left;padding:0;margin:10px auto auto 15px;height:34px;line-height:40px;font-weight:bold;  color:#FA9A50;
			font: 28pt fantasy, cursive, Serif;
}

