* { 
	margin:0;
	padding:0;
}	
body {	
	margin:0;
	padding:0;
	color:#000;
	border:0px solid #696969;			/* This removes the border around the viewport in old versions of IE */
	min-width:1640px;
	max-width:1640px;
	width:1640px;
	background:#FFF;
	font-size:68%;
	font-weight:normal;
	letter-spacing:0.5px;
	font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
} 
/* 
      body {
        font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
      }
      h1 a {
        text-decoration: none;
        color: #3b5998;
      }
      h1 a:hover {
        text-decoration: underline;
      }
*/
a:link { 
	background-color:transparent; 
	color: #6495ED; 
	font-weight:bold; 
	text-decoration:none;
}
a:visited {
	background-color:transparent; 
	color:#6495ED; 
	font-weight:bold; 
	text-decoration:none;
}
a:hover { 
	background-color: transparent; 
	color: #62B1F6; 
	font-weight:bold; 
	text-decoration:underline;
}
a:active { 
	background-color: transparent; 
	color: #6495ED; 
	font-weight:bold; 
	text-decoration:none;
}
